@model IEnumerable<SCIPA.Models.Alarm>

@{
    ViewBag.Title = "AlarmView";
}

<h2>AlarmView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device.Custodian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th>
            Acknowledge
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Custodian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.StringValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rule.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.ActionLink("Acknowledge", "Acknowledge", new {id=item.Id})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
